.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    stroke-width: 1;
    stroke: white;
    fill: white;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
}
  